<footer class="footer">
  <div class="footer-content">
    <p class="footer-text">Versão 2.1.0 - Feito com ❤️ por Felipe Lima</p>
    <p class="footer-links">
      <a href="https://github.com/FelipeLima91" target="_blank" rel="noopener noreferrer" class="footer-link">
        GitHub
      </a>
      <span class="separator">•</span>
      <a href="https://www.linkedin.com/in/felipe-lima-de-oliveira/" target="_blank" rel="noopener noreferrer"
        class="footer-link">
        LinkedIn
      </a>
      <span class="separator">•</span>
      <a href="https://wa.me/5511985087383" target="_blank" rel="noopener noreferrer" class="footer-link">
        WhatsApp
      </a>
    </p>
  </div>
</footer>