.projects-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  h2 {
    margin: 0;
    color: #1f2937;
    align-self: flex-start;
  }
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
  width: 100%;
}

.project-card-wrapper {
  display: flex; 
  justify-content: center;
}

::ng-deep .project-card {
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
  
  .p-card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .p-card-body {
      padding: 1.5rem; 
  }
  
  .p-card-title {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
  }
  
  p {
      margin: 0;
      line-height: 1.5;
      color: #4b5563;
  }
}
